
* {
    box-sizing: border-box;
}

body, html {
margin:0;
padding: 0;
font-family: 'Oswald', sans-serif;
}

form {
    height: 100vh;
    display       : flex;
    flex-wrap     : wrap;
    flex-direction: column;
    padding: 5px;
    align-items:center;
}

form > textarea {
   width: 90%;
   height: 45%;
   resize: none;
   flex-basis: 47%;
   box-sizing: border-box;
}

form > button {
    cursor: pointer;
    display: block;
    width: 90%;
    flex-basis: 4%;
    margin:  5px 0px;
 }